/* Login.css */


  .login-form {
    background-color: #76ABAE;
    padding: 40px;
    border-radius: 10px;
    width: 240%;
    border: 1px solid black;
  }
  
  .login-form h1 {
    color: #31363f;
  }

  .login-form input {
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-form input:focus {
    box-shadow: none;
  }
  
  .login-form button {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
  }
  
  .login-form button.btn-info {
    background-color: #31363f;
    border-color: #31363f;
    color: #fff;
  }
  
  .login-form button.btn-info:hover {
    background-color: #1d1f22;
    border-color: #1d1f22;
  }
  
  .login-form button.btn-secondary {
    margin-top: 20px;
  }
  
  .login-form .invalid-feedback {
    color: red;
  }
  
.login-background {
    /* background-image: url('D:\E_wasteFrontend\E_wasteReact\src\Components\Images\home-electronic-banner.webp'); */
    background-size: left;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }